<nav>
  <div class="site-title">
    <a href="/"><h1>FinDSA</h1></a>
    <p>Dedicated search engine for DSA problems</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
