<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about search engine">
      <h2>About Us</h2>
      <p>
        Search engine implemented using TFIDF algorithm, with a dataset of about
        2000 questions scraped off of multiple coding platforms.
        I want hacktoberfest T-Shirt.....
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
